@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *, [data-theme='dark'], [data-theme='dark'] *));

:root {
  --background-fill: #fff;
  --background: #fbfbfe;
  --foreground: #010104;
  --card: #e8e8f0;
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: #114664;
  --primary-foreground: var(--background);

  --secondary: #d3d3dd;
  --secondary-foreground: var(--foreground);
  --muted: var(--secondary);
  --muted-foreground: #5a5a5e;
  --accent: #6e6e72;
  --accent-foreground: var(--color-background);

  --destructive: #ff0004;
  --destructive-foreground: var(--background);
  --success: #4caf6e;
  --success-foreground: var(--background);

  --border: #b8b8c2;
  --input: var(--border);
  --ring: var(--primary);

  --font-sans: Tahoma, monospace;
  --font-serif: Tahoma, monospace;
  --font-mono: Tahoma, monospace;

  --radius: 0.44rem;
}

:root[data-theme='dark'] {
  --background-fill: #000;
  --background: #010104;
  --foreground: #fbfbfe;
  --card: #18181e;
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: #114664;
  --primary-foreground: var(--foreground);

  --secondary: #303037;
  --secondary-foreground: var(--foreground);
  --muted: var(--secondary);
  --muted-foreground: #aaaab0;
  /* --accent: #8d8d93; */
  --accent: #9a9aa0;
  --accent-foreground: var(--color-background);

  --destructive: #ff0004;
  --destructive-foreground: var(--foreground);
  --success: #4caf6e;
  --success-foreground: var(--foreground);

  --border: #5d5d68;
  --input: var(--border);
  --ring: var(--primary);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
}

* {
  @apply border-border;
}

.background {
  --bg-1: color-mix(in oklch, var(--background) 60%, var(--background-fill));
  background:
    radial-gradient(1200px 800px at 20% 15%, var(--bg-1) 0%, transparent 60%),
    radial-gradient(900px 600px at 80% 70%, var(--background) 35%, transparent 70%),
    radial-gradient(100vw 100vh at 50% 50%, var(--background-fill), var(--background-fill));
  background-color: var(--background);
}

.card {
  @apply rounded p-4 bg-card/85 backdrop-blur border shadow;
}
